<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading...</title>
    <link rel="stylesheet" href="../static/css/loading.css">

</head>
<body>
   
    <div class="loading-container">
        <div class="image-container">
            <img src="../static/Images/farmer1.PNG" alt="Loading Image">
            <div style="position: static;">

                <div class="loading-text" style="font-family: 'Times New Roman', Times, serif; font-size: 40px; font-weight: 200; padding-bottom: 20px; padding-top: 20px;">Loading...</div>
                <div class="loading-bar"></div>
            </div>
        </div>
    </div>

    <script src="../static/js/loading.js"></script>
</body>
</html>
