<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/logo.css">

    <title>Image Animation</title>
</head>
<body >
    <header>
        <div class="navbar">
            <div class="logo">
                <div class="title">
                    <p style="color: #529604;">hhh</p>
                  
                </div>
            </div>
        </div>
    </header>
            <div class="image-container">
                <img src="../static/Images/logo.png" alt="Animated Image" id="animatedImage">
         
        </div>
        <script src="../static/js/entry.js"></script>
    
</body>
</html>
