<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stilllogo.css">
    <title>Centered Image</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <div class="title">
                    <p style="color: #529604;">hhh</p>
                  
                </div>
            </div>
        </div>
    </header>
    <div class="center-wrapper">
        <h1 style="text-align: center;  margin-top: 50px; font-size: 70px; font-family:serif;">E-Krushi</h1>
        <p style="font-size: 30px;"> कष्टकऱ्यांचे सहायक</p>
        <br>
        <img src="../static/Images/logo.png" alt="Centered Image">
    </div>

    <script src="../static/js/stilllogo.js"></script>
</body>
</html>
